alias s='sudo'
alias please='s $(fc -ln -1)'
alias pls='please'
alias fuck='please'

alias pac='s pacman'
alias yao='yaourt'

alias top='htop'
alias ytdl='youtube-dl'

alias tree='tree -C'
alias gitdots='s gitdots'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ls='exa'
alias la='exa -a'
alias ll='exa -hl'
