alias s='sudo'
alias please='s $(fc -ln -1)'
alias pls='please'

alias pac='s apt-get'
alias pacsearch='apt-cache search'
alias addrepo='s add-apt-repository'
alias remrepo='s add-apt-repository --remove'

alias ssh='sshrc'
alias sshx='ssh -X -C'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias screenfetch='screenfetch -A "Ubuntu-3color"'
alias vimswap='swap ~/.vimrc ~/.vimrc.alt'
alias shadow2='shadow; shadow'

alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -l'
alias l='ls -cF'
