'global':
  'exception-reporting':
    'userId': '272f1c98-0885-255e-3cfe-98a9c80abc5a'
  'welcome':
    'showOnStartup': false
  'core':
    'themes': [
      'spacegray-dark-ui'
      'base16-ocean-dark-spacegray'
    ]
    'disabledPackages': [
      'wrap-guide'
    ]
  'editor':
    'invisibles': {}
